{% extends "MiaB/layout.html" %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block main %}
    <h1>Message in a Bottle - User Guide</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/FEXvZdQG_r8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    <h1>About and Acknowledgements</h1>
    <ul>
        <li>Python (programming language)</li>
        <li>Django (web framework)</li>
        <li>Bootstrap library (CSS)</li>
        <li>Canva (logo creation)</li>
        <li>CS50's Web Programming with Python and Javascript (coding tutorials)</li>
        <li><a href="https://www.youtube.com/watch?v=UmljXZIypDc&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p">Corey Schafer (coding tutorials)</a></li>
        <li>Stack Overflow (debugging errors and random queries)</li>
    </ul>
{% endblock %}