{% load static %}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en">
    <head>
        {% block title %}{% endblock %}
        <!-- Bootstrap imports -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        
        <!-- Importing my own stylesheet/CSS -->
        <link rel="stylesheet" href="{% static 'MiaB/styles.css' %}">
    </head>

    <body>
      <!-- Navigation bar from Bootstrap -->
      <nav class="navbar navbar-expand-lg" style="background-color: #ffffcc;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="\static\MiaB\Message_in_a_bottle_no_bg.png" width="75px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'memoryList' %}">Memory List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'newMemory' %}">New Memory</a>
              </li>
            </ul>
            
            <!-- Nav Bar right side-->
            <ul class="navbar-nav ms-auto">
              <!-- Only when the user is logged in is the logout button displayed. Otherwise register or login is displayed -->
              {% if user.is_authenticated %}
              <span class="navbar-text" id="navbarusername">{{ user.get_username }}</span>
              <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
              {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      
      <!-- Display messages for the user, if there are any -->
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <div class="page">
        {% block main %}
        {% endblock %}
      </div>  
         
    </body>
</html>